input {
   beats {
        port => {{ beats_port }}
    }
}
filter {
       if [type] == "{{ logstash_filter_access_value }}" {
            grok {
                patterns_dir => "{{ logstash_filter_access_patternsdir }}"
                match => {
                    "message" => "{{ logstash_filter_access_message }}"
                }
                overwrite => ["message"]
                remove_field => ["beat"]
            }
            mutate{
                convert => ["status", "integer"]
                convert => ["body_bytes_sent", "integer"]
                convert => ["request_time", "float"]
                convert => ["upstream_status", "integer"]
                convert => ["upstream_response_time", "float"]
            }
            geoip {
                source => "remote_addr"
                target => "geoip"
                add_tag => [ "nginx-geoip" ]
            }
            date{
                match => ["time_local", "dd/MMM/YYYY:HH:mm:ss Z"]
            }
            useragent {
                source => "http_user_agent"
            }
            urldecode {
                all_fields => true
            }
        }
       if [type] == "{{ logstash_filter_error_value }}" {
                grok {
                    patterns_dir => "{{ logstash_filter_error_patternsdir }}"
                    match => {
                        "message" => "{{ logstash_filter_error_message }}"
                    }
                }
                urldecode {
                  all_fields => true
           }
        }
}
output {
      if [type] == "{{ logstash_output_access_value }}" {
        elasticsearch {
          hosts => [{{ logstash_output_access_es_hosts }}]
          user => {{ logstash_output_access_es_user }}
          password => {{ logstash_output_access_es_pass }}
          manage_template => true
          index => "{{ logstash_output_access_es_index }}"
          document_type => "{{ logstash_output_access_es_doctype }}"
        }
      }
      if [type] == "{{ logstash_output_error_value }}" {
          elasticsearch {
            hosts => [{{ logstash_output_error_es_hosts }}]
            user => {{ logstash_output_error_es_user }}
            password => {{ logstash_output_error_es_pass }}
            manage_template => true
            index => "{{ logstash_output_error_es_index }}"
            document_type => "{{ logstash_output_error_es_doctype }}"
          }
      }
          stdout { codec => rubydebug }
}